@model IEnumerable<CodeFirstVenueBooking.Models.Payment>
    
    <h2> Payment List</h2>
    <table class="table-bordered">
        <thead>
            <tr>
            <th>Bno</th>
            <th>Date</th>
            <th>Amount</th>
            <th>EventType</th>
            <th>Name</th>
            <th>PaymentType</th>
            <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var Payment in Model)
            {
            <tr>
                <td>@Payment.Bno</td>
                <td>@Payment.BDate</td>
                <td>@Payment.Amount</td>
                <td>@Payment.EventType</td>
                <td>@Payment.UserName</td>
                <td>@Payment.PaymentType</td>
                <td>@Payment.Details</td>
                <td>
                    <a asp-action="Edit" asp-controller="Payment" asp-route-id="@Payment.Bno">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Payment" asp-route-id="@Payment.Bno">Delete</a>
                </td>

            </tr>
        }
        </tbody>

    </table>